@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?imzknm');
  src:  url('fonts/icomoon.eot?imzknm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?imzknm') format('truetype'),
    url('fonts/icomoon.woff?imzknm') format('woff'),
    url('fonts/icomoon.svg?imzknm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add_shopping_cart:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e947";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
