<!DOCTYPE html>
<html lang="en">
<head>
    <title>Busqueda de Producto</title>
    <!-- Head Import -->
    <%- include('./partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/search_product.css">
</head>
<body>
    <!-- Header import -->
    <%- include('./partials/header.ejs'); %>

    <main>
        <aside class="filter-menu">
            <section class="filter-menu-sort">
                <span class="icon icon-sort" id="button-sort"><span>Ordenar</span></span>
                <ul id="menu-sort">
                    <li class="no-background" id="menu-sort-icon-close"><span class="icon icon-x"></span></li>
                    <li>Más relevantes</li>
                    <li>Menor precio</li>
                    <li>Mayor precio</li>
                    <li>Alfabeticamente: A-Z</li>
                    <li>Alfabeticamente: Z-A</li>
                </ul>
            </section>

          
        </aside>

        <section class="result-search">
            <h2><%= patronBusqueda %> </h2>
            <article class="result-search-item">
                <img src="/img/home_images/recommendations_img_marioBox.jpg" alt="">
                <div class="result-search-item-content">
                    <div class="result-search-item-content-description">
                        <h3>Super Mario Box</h3>
                        <p>$535</p>
                        <p class="seller">Vendedor: Luis Fernando</p>
                    </div>
                    
                    <div class="result-search-item-content-stars">
                        <span class="icon icon-star-full"></span>
                        <span class="icon icon-star-full"></span>
                        <span class="icon icon-star-full"></span>
                        <span class="icon icon-star-full"></span>
                        <span class="icon icon-star-half last-start"></span>     
                    </div>

                    <div class="result-search-item-content-button">
                        <a href="#">Ver</a>
                    </div>
                </div>
            </article>
            
            <!-- auxProducts -->

            
        </section>
    </main>
    <!-- Footer import -->
    <%- include('./partials/footer.ejs'); %>
    
    <script src="/js/sort-filter-animation.js"></script>
</body>
</html>