<!DOCTYPE html>
<html lang="en">
<head>
    <title>Busqueda de Producto</title>
    <!-- Head Import -->
    <%- include('./partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/search_product.css">
</head>
<body>
    <!-- Header import -->
    <%- include('./partials/header.ejs'); %>

    <main>
        <aside class="filter-menu">
            
        </aside>

        <section class="result-search">
            <h1>Nombre de la Busqueda</h1>
            <article class="result-search-item">
                <img src="/img/home_images/recommendations_img_marioBox.jpg" alt="">
                <div class="result-search-item-content">
                    <h3>Nombre del Producto</h3>
                    <p>Precio</p>
                    <p>Vendido Por: Luis Fernando</p>
                </div>
                <div class="result-search-item-content-starts">
                    <span class="icon icon-star-full"></span>
                    <span class="icon icon-star-full"></span>
                    <span class="icon icon-star-full"></span>
                    <span class="icon icon-star-full"></span>
                    <span class="icon icon-star-half"></span>     
                </div>
            </article>
        </section>
    </main>
    <!-- Footer import -->
    <%- include('./partials/footer.ejs'); %>
</body>
</html>