<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head import -->
    <%- include('./partials/head.ejs'); %>
    <link href="/css/edit_product.css" rel="stylesheet">
    <title>Playland</title>
</head>

<body>
    <!-- Header import -->
    <%- include('./partials/header.ejs'); %>
    <main class="edit">
        <form method="POST" action='/products/createnew' enctype="multipart/form-data">
            <h3>Detalle del Producto</h3>
            <h2 id="error-message">Mensaje Error</h2>
            <label for="nombre_producto">Nombre del producto</label>
            <input required type="text" name="nombre_producto" id="nombre_producto">

            <label for="description">Descripción del producto</label>
            <input required type="text" name="description" id="description">

            <label for="main_image">Adjuntar imagen principal</label>
            <input type="file" name="main_image" accept=".jpeg,.jpg,.png" id="main_image">

            <label for="imagenesComplementarias">Adjuntar imágenes complementarias </label>
            <input type="file" name="imagenesComplementarias" id="imagenesComplementarias" accept=".jpeg,.jpg,.png" multiple />
            <!-- Este es el select -->
            <label class="categoria-label">Elegir categorías del producto</label>
            <div class="check-productos">
                <label for="anime">Anime</label>
                <input type="checkbox" name="categoria" value="anime" id="anime">

                <label for="libros">Libros</label>
                <input type="checkbox" name="categoria" value="libros" id="libros">

                <label for="peliculas">Películas</label>
                <input type="checkbox" name="categoria" value="peliculas" id="peliculas">

                <label for="series">Series</label>
                <input type="checkbox" name="categoria" value="series" id="series">
            </div>
            
            <label for="players" class="players-label">Número de jugadores</label>
            <input required type="number" name="players" value="" id="players">


            <label for="precio">Precio</label>
            <input required type="text" name="precio" id="precio">

            <input type="submit" value="Subir" class="submit-button" id="button-subir">
            <input type="reset" value="Eliminar" class="submit-button"> 
        </form>
    </main>

    <!-- Footer import -->
    <%- include('./partials/footer.ejs'); %>
    <!-- Colocacion de Scripts -->
    <script src="/js/menu_animation.js"></script>
    <script src="/js/validarFormularioCrearProducto.js"></script>
</body>

</html>