<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head import -->
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <!-- Header import -->
    <%- include('./partials/header.ejs'); %>
    <!-- Carousel -->
    <main>
        <h1>Producto Eliminado</h1>
        <a href="/">Regresar al inicio</a>
    </main>
    <!-- Footer import -->
    <%- include('./partials/footer.ejs'); %>
</body>

</html>