<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/icons/style.css">
    <title>Playland</title>
</head>
<body>
    <header>
        <!-- Form to search for an product -->
        <form action="/">
            <button><span class="icon icon-search"></span></button>
            <input type="text" name="search" id="seach" placeholder="Buscas productos">
        </form>

        <div class="logo">
            <img src="/img/logo.png" alt="logo_playland">
        </div>

        <div class="session">
            <a href="#">SING UP</a>
            <a href="#">LOG IN</a>
        </div>
        <!-- Menu -->
        <nav>
            <ul>
                <li><a href="#">Label</a></li>
                <li><a href="#">Label</a></li>
                <li><a href="#">Label</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Detail of product -->
        <section class="product">
            <div class="product-main-img">
                <img src="/img/home_images/exhibitor_img_lordOfTheRings.jpg" alt="" width="350">
            </div>
            <div class="product-small-img">
                <img src="/img/home_images/exhibitor_img_lordOfTheRings.jpg" alt="" width="120">
                <img src="/img/home_images/exhibitor_img_lordOfTheRings.jpg" alt="" width="120">
                <img src="/img/home_images/exhibitor_img_lordOfTheRings.jpg" alt="" width="120">
            </div>

            <div class="product-content">
                <h2>Header</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, odio pariatur officiis consectetur obcaecati neque molestias nemo temporibus. Reprehenderit sapiente perferendis odio magni consequuntur nemo a esse sit. Laudantium, aperiam!
                </p>
                <span class="icon icon-star"></span>
                <h3>$ Price</h3>
                <form>
                    <input type="number" id ="cantidad" max="10" min="0" placeholder="Qty" />
                    <input type="submit" value="Agregar al carrito" />
                 </form>
            </div>
        </section>

        <!-- Reviews -->
        <section class="reviews">
            <div class="reviews-content-img">
                <img src="/img/profile_images/profile1.png" alt="" width="100">
            </div>

            <div class="review-content">
                <span class="icon icon-star"></span>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, odio pariatur officiis consectetur obcaecati neque molestias nemo temporibus. Reprehenderit sapiente perferendis odio magni consequuntur nemo a esse sit. Laudantium, aperiam!
                </p>
            </div>

            <div class="reviews-content-img">
                <img src="/img/profile_images/profile2.png" alt="">
            </div>

            <div class="review-content">
                <span class="icon icon-star"></span>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, odio pariatur officiis consectetur obcaecati neque molestias nemo temporibus. Reprehenderit sapiente perferendis odio magni consequuntur nemo a esse sit. Laudantium, aperiam!
                </p>
            </div>

            <input type="submit" value="Load More" />
        </section>


     <!-- More products -->
        <section class="more-products">
            <div class="more-products-img">
                <img src="/img/home_images/recommendations_img_marioBox.jpg" alt="" width="100">
            </div>

            <div class="review-content">
                <span class="icon icon-star"></span>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, odio pariatur officiis consectetur obcaecati neque molestias nemo temporibus. Reprehenderit sapiente perferendis odio magni consequuntur nemo a esse sit. Laudantium, aperiam!
                </p>
                <h3>$ Price</h3>
                <input type="submit" value="Ver producto" />
            </div>

            <div class="reviews-content-img">
                <img src="/img/home_images/recommendations_img_jumangi.jpg" alt="">
            </div>

            <div class="review-content">
                <span class="icon icon-star"></span>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, odio pariatur officiis consectetur obcaecati neque molestias nemo temporibus. Reprehenderit sapiente perferendis odio magni consequuntur nemo a esse sit. Laudantium, aperiam!
                </p>
                <h3>$ Price</h3>
                <input type="submit" value="Ver producto" />
            </div>

        </section>
    </main>


      <!-- Footer -->  
        <footer>
            <div class="footer-left">
                <img src="/img/logo.png" alt="icon">
                <p>
                    Contact us. 
                </p>
            </div>
    
            <div class="footer-right">
                <span class="icon icon-facebook"></span>
                <span class="icon icon-instagram"></span>
                <span class="icon icon-twitter"></span>
            </div>
        </footer>
    </body>
    </html>