<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/icons/style.css">
    <link href= "css/style_forms.css" rel ="stylesheet">
    <title>Playland</title>
</head>
<body>
    <header>
        <!-- Form to search for an product -->
        <form action="/">
            <button><span class="icon icon-search"></span></button>
            <input type="text" name="search" id="seach" placeholder="Buscas productos">
        </form>

        <div class="logo">
            <img src="/img/logo.png" alt="logo_playland">
        </div>

        <div class="session">
            <a href="#">SING UP</a>
            <a href="#">LOG IN</a>
        </div>
        <!-- Menu -->
        <nav>
            <ul>
                <li><a href="#">Label</a></li>
                <li><a href="#">Label</a></li>
                <li><a href="#">Label</a></li>
            </ul>
        </nav>
    </header>

    <main>

<!-- Tabla de registro -->

<form id="registration" class = "tabla-registro">
<h2>Detalle de Producto</h2>
<table>

    <tr>
    <td><p1>Nombre del producto</p1><br>
    <input required type="text" name="nombreDelProducto"></td>
    </tr>

    <tr>
    <td><p1>Descripción del producto</p1><br>
    <input required type="text" name="descripcionProducto"></td>
    </tr>

    <tr>
    <td><p1>Adjuntar imagen principal</p1><br>
    <input type="file" name="imagenPrincipal" accept=".jpeg,.jpg,.png" /></td>  
    </tr>
    
    <tr>
    <td><p1>Adjuntar imágenes complementarias </p1><br>
    <input type="file" name="imagenPrincipal" accept=".jpeg,.jpg,.png" multiple/></td>  
    </tr>

    <tr>
        <td><p1>Elegir categorías del producto</p1><br>
            <input type="checkbox" name="categoriaProducto" value="anime" id="anime"><label for="anime">Anime</label><br>
            <input type="checkbox" name="categoriaProducto" value="libros" id="libros"><label for="libros">Libros</label><br>
            <input type="checkbox" name="categoriaProducto" value="peliculas" id="peliculas"><label for="peliculas">Películas</label><br>
            <input type="checkbox" name="categoriaProducto" value="series" id="series"><label for="series">Series</label><br>
            <input type="checkbox" name="categoriaProducto" value="otro" id="otro"><label for="otro">Otro</label><br>   
        </td>  
    </tr>

    <tr>
    <td><p1>Número de jugadores</p1><br>
    <input required type="number" name="numeroJugadores"></td>
    </tr>

    <tr>
    <td><p1>Precio</p1><br>
    <input required type="text" name="precio"></td> 
    </tr>

    <tr>
    <td><input type="submit"
            value="Subir producto" class ="submit-button"></td>
    </tr>

</table>
</form>

<!-- Footer -->  
      <footer>
        <div class="footer-left">
            <img src="/img/logo.png" alt="icon">
            <p>
                Contact us. 
            </p>
        </div>

        <div class="footer-right">
            <span class="icon icon-facebook"></span>
            <span class="icon icon-instagram"></span>
            <span class="icon icon-twitter"></span>
        </div>
    </footer>
</body>
</html>