        <!-- Reviews -->
        <section class="reviews">
            <div class="reviews-content-img">
                <img src="/img/profile_images/profile1.png" alt="" width="100">
            </div>

            <div class="review-content">
                <span class="icon icon-star"></span>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, odio pariatur officiis consectetur
                    obcaecati neque molestias nemo temporibus. Reprehenderit sapiente perferendis odio magni
                    consequuntur nemo a esse sit. Laudantium, aperiam!
                </p>
            </div>

            <div class="reviews-content-img">
                <img src="/img/profile_images/profile2.png" alt="">
            </div>

            <div class="review-content">
                <span class="icon icon-star"></span>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, odio pariatur officiis consectetur
                    obcaecati neque molestias nemo temporibus. Reprehenderit sapiente perferendis odio magni
                    consequuntur nemo a esse sit. Laudantium, aperiam!
                </p>
            </div>

            <input type="submit" value="Load More" />
        </section>


        <!-- More products -->
        <section class="more-products">
            <div class="more-products-img">
                <img src="/img/home_images/recommendations_img_marioBox.jpg" alt="" width="100">
            </div>

            <div class="review-content">
                <span class="icon icon-star"></span>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, odio pariatur officiis consectetur
                    obcaecati neque molestias nemo temporibus. Reprehenderit sapiente perferendis odio magni
                    consequuntur nemo a esse sit. Laudantium, aperiam!
                </p>
                <h3>$ Price</h3>
                <input type="submit" value="Ver producto" />
            </div>

            <div class="reviews-content-img">
                <img src="/img/home_images/recommendations_img_jumangi.jpg" alt="">
            </div>

            <div class="review-content">
                <span class="icon icon-star"></span>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, odio pariatur officiis consectetur
                    obcaecati neque molestias nemo temporibus. Reprehenderit sapiente perferendis odio magni
                    consequuntur nemo a esse sit. Laudantium, aperiam!
                </p>
                <h3>$ Price</h3>
                <input type="submit" value="Ver producto" />
            </div>

        </section>