<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/icons/style.css">
    <title>Play Land</title>
</head>
<body>
    <header>
        <!-- Form to search for an product -->
        <form action="/">
            <button><span class="icon icon-search"></span></button>
            <input type="text" name="search" id="seach" placeholder="Buscas productos">
        </form>

        <div class="logo">
            <img src="/img/logo.png" alt="logo_playland">
        </div>

        <div class="session">
            <a href="#">SING UP</a>
            <a href="#">LOG IN</a>
        </div>
        <!-- Menu -->
        <nav>
            <ul>
                <li><a href="#">Label</a></li>
                <li><a href="#">Label</a></li>
                <li><a href="#">Label</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <!-- Section of the exhibitor -->
        <section class="exhibitor">
            <div class="exhibitor-img">
                <img src="/img/home_images/exhibitor_img_lordOfTheRings.jpg
                " alt="">
            </div>

            <div class="exhibitor-content">
                <h3>Header</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, odio pariatur officiis consectetur obcaecati neque molestias nemo temporibus. Reprehenderit sapiente perferendis odio magni consequuntur nemo a esse sit. Laudantium, aperiam!
                </p>
                <span>Load</span>
            </div>
        </section>

        <!-- Section of the recommendations -->
        <section class="recommendations">
            <h3>Header II</h3>
            <article>
                <img src="/img/home_images/recommendations_img_freedi.jpeg" alt="recommendations_fredie">
            </article>
            <article>
                <img src="/img/home_images/recommendations_img_ironHead.jpg" alt="iron_head">
            </article>
            <article>
                <img src="/img/home_images/recommendations_img_marioBox.jpg" alt="marioBox">
            </article>
            <article>
                <img src="/img/home_images/recommendations_img_jumangi.jpg" alt="jumangi">
            </article>
            <article>
                <img src="/img/home_images/recommendations_img_stranger.jpg" alt="stranger">
            </article>
            <article>
                <img src="/img/home_images/recommendations_img_clmentoni.jpg" alt="clementoni">
            </article>
            <article>
                <img src="/img/home_images/recommendations_img_trones.jpg" alt="trones">
            </article>
            <article>
                <img src="/img/home_images/recommendations_img_belfort.jpg" alt="belfort">
            </article>
        </section>

        <!-- Image of the site -->
        <aside style="width: 100; height: 80px; background: red">
            <div class="img-promo">
                imagen-promo
            </div>
        </aside>

        <!-- Section of the offers -->
        <section class="offers">
            <h3>Header III</h3>
            <article class="offers-item">
                <img src="/img/home_images/recommendations_img_monoStar.jpg" alt="monopoli_start_wars">
                <div class="offers-item-box">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima cupiditate repellat, neque laborum corporis provident aperiam, similique fugit alias est tempora, veniam quos natus sed sapiente ad nobis magni atque?
                    </p>
                    <span>Button</span>
                </div>
            </article>
            <article class="offers-item">
                <img src="/img/home_images/recommendations_img_virus.jpg" alt="virus">
                <div class="offers-item-box">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, excepturi optio, voluptatem, corrupti iure eligendi pariatur omnis eaque sed nam illo aperiam praesentium fugiat voluptate hic debitis voluptatibus provident. Ad.
                    </p>
                    <span>Button</span>
                </div>
            </article>
            <article class="offers-item">
                <img src="/img/home_images/recommendations_img_mars.jpeg" alt="mars">
                <div class="offers-item-box">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ab quae ratione id quaerat aliquam totam, quasi itaque alias quam porro inventore fugiat! Nobis atque ullam eveniet, repudiandae eos accusantium?
                    </p>
                    <span>Button</span>
                </div>
            </article>

            <!-- Image of the site -->
            <aside style="width: 100; height: 80px; background: yellow">
                <div class="img-promo">
                    imagen-promo-II
                </div>
            </aside>
        </section>
    </main>

    <footer>
        <div class="footer-left">
            <img src="/img/logo.png" alt="icon">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, distinctio facere modi culpa natus corporis quas, doloremque eligendi, consequuntur fugit quos dicta molestiae illum assumenda enim consequatur quisquam a! Reiciendis.
            </p>
        </div>

        <div class="footer-right">
            <span class="icon icon-facebook"></span>
            <span class="icon icon-instagram"></span>
            <span class="icon icon-twitter"></span>
        </div>
    </footer>
</body>
</html>