<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/Logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="/icons/style.css">
    <title>Play Land</title>
</head>
<body>
    <header>
        <!-- Form to search for an product -->
        <form action="/">
            <button><span class="icon icon-search"></span></button>
            <input type="text" name="search" id="seach" placeholder="Buscas productos">
        </form>

        <div class="logo">
            <img src="/img/Logo.jpeg" alt="logo_playland">
        </div>

        <div class="session">
            <a href="#">SING UP</a>
            <a href="#">LOG IN</a>
        </div>
        <!-- Menu -->
        <nav>
            <ul>
                <li><a href="#">Label</a></li>
                <li><a href="#">Label</a></li>
                <li><a href="#">Label</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <!-- Section of the exhibitor -->
        <section class="exhibitor">
            <div class="exhibitor-img">
                <img src="/img/home_images/exhibitor_img_lordOfTheRings.jpg
                " alt="">
            </div>

            <div class="exhibitor-content">
                <h3>Header</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, odio pariatur officiis consectetur obcaecati neque molestias nemo temporibus. Reprehenderit sapiente perferendis odio magni consequuntur nemo a esse sit. Laudantium, aperiam!
                </p>
                <span>Load</span>
            </div>
        </section>

        <!-- Section of the recommendations -->
        <section class="recommendations">
            <article>
                
            </article>
        </section>
    </main>
</body>
</html>