<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head import -->
    <%- include('./partials/head.ejs'); %>    
    <title>Usuario Registrado</title>
    <link rel="stylesheet" href="/css/usuarioRegistradoMensaje.css">
</head>

<body>
    <!-- Header import -->
    <%- include('./partials/header.ejs'); %>
    <main>
        <h1>Usuario con el correo</h1>
        <p class="email"><%= email %></p>
        <p class="mensaje-registrado">Registrado</p>
        <a href="/login">Clic para iniciar sesión</a>
    </main>
    <!-- Footer import -->
    <%- include('./partials/footer.ejs'); %>
    <script src="/js/menu_animation.js"></script>
</body>
</html>