<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head import -->
    <%- include('./partials/head.ejs'); %>    
    <title>Usuario Registrado</title>
</head>

<body>
    <!-- Header import -->
    <%- include('./partials/header.ejs'); %>
    <main>
        <h1>Usuario con el correo</h1>
        <p><%= email %></p>
        <p>Registrado</p>
        
    </main>
    <!-- Footer import -->
    <%- include('./partials/footer.ejs'); %>
    <script src="/js/menu_animation.js"></script>
</body>
</html>