<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error 404</title>
    <!-- Head Import -->
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <!-- Header Imports -->
    <%- include('./partials/header.ejs') %>

    <main>
        <section class="404-error">
            
        </section>
    </main>

    <!-- Footer Import -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>