<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head import -->
    <%- include('./partials/head.ejs'); %>
        <link rel="stylesheet" href="/css/registro.css">
        <title>Playland</title>
</head>


<body>
    <!-- Header import -->
    <%- include('./partials/header.ejs'); %>
        <main class="registro">
            <h3> Sign up</h3>

            <form method="POST" action="/register">
                <label for="firstName">Nombre</label>
                <input required type="text" name="firstName" size="40" id="firstName">

                <label for="lastName">Apellido</label>
                <input required type="text" name="lastName" size="40" id="lastName">

                <label for="email">Correo electr칩nico</label>
                <input required type="email" name="email" size="40" id="email">

                <label for="email-confirm">Verificar correo electr칩nico</label>
                <input required type="email" name="email-confirm" size="40" id="email-confirm">

                <label for="loginPassword">Contrase침a</label>
                <input required type="password" size="40" id="loginPassword" name="loginPassword"
                    title="Letters and digits only (at least 6)">

                <label for="loginPassword-confirm">Verificar contrase침a</label>
                <input required type="password" size="40" id="loginPassword-confirm" name="loginPassword-confirm">

                <label for="avatar">Adjunte Foto de perfil</label>
                <input type="file" name="avatar" id="avatar" accept=".png, .jpg, .gif, .webp" required>

                <input type="submit" value="Enviar">
                <input type="submit-2" value="Borrar">
            </form>
        </main>
        <!-- Footer import -->
        <%- include('./partials/footer.ejs'); %>
            <script src="/js/menu_animation.js"></script>
</body>

</html>