<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/icons/style.css">
    <link href= "css/style_forms.css" rel ="stylesheet">
    <title>Playland</title>
</head>
<body>
    <header>
        <!-- Form to search for an product -->
        <form action="/">
            <button><span class="icon icon-search"></span></button>
            <input type="text" name="search" id="seach" placeholder="Buscas productos">
        </form>

        <div class="logo">
            <img src="/img/logo.png" alt="logo_playland">
        </div>

        <div class="session">
            <a href="#">SING UP</a>
            <a href="#">LOG IN</a>
        </div>
        <!-- Menu -->
        <nav>
            <ul>
                <li><a href="#">Label</a></li>
                <li><a href="#">Label</a></li>
                <li><a href="#">Label</a></li>
            </ul>
        </nav>
    </header>

    <main>

<!-- Tabla de registro -->

<form id="registration" class="tabla-registro">
<h2> Sign up</h2>
<table>

    <tr>
    <td><p1>Nombre:</p1><br>
    <input required type="text" name="firstName" size="40"></td>
    </tr>

    <tr>
    <td><p1>Apellido:</p1><br>
    <input required type="text" name="lastName" size="40"></td>
    </tr>

    <tr>
    <td><p1>Correo electrónico:</p1><br>
    <input required type="text" name="email" size="40"></td>
    </tr>

    <tr>
    <td><p1>Verificar correo electrónico:</p1><br>
    <input required type="text" name="email-confirm" size="40"></td>
    </tr>

    <tr>
    <td><p1>Contraseña: </p1><br>
    <input required type="password" size="40"
            id="loginPassword" name="loginPassword"
            title="Letters and digits only (at least 6)"></td>
    </tr>

    <tr>
        <td><p1>Verificar contraseña: </p1><br>
        <input required type="password" size="40"
                id="loginPassword-confirm"></td>
        </tr>

    <tr>
    <td><input type="submit"
            value="Enviar"></td>
    <td><input type="reset"
            value="Borrar"></td>
    </tr>

</table>
</form>

<!-- Footer -->  
      <footer>
        <div class="footer-left">
            <img src="/img/logo.png" alt="icon">
            <p>
                Contact us. 
            </p>
        </div>

        <div class="footer-right">
            <span class="icon icon-facebook"></span>
            <span class="icon icon-instagram"></span>
            <span class="icon icon-twitter"></span>
        </div>
    </footer>
</body>
</html>