<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel ="stylesheet" href= "css/registro.css">
    <title>Playland</title>
</head>


<body>
    <!-- Header import -->
    <%- include('./partials/header.ejs'); %>

    <main class="registro">
        <h3> Sign up</h3>

        <!-- Tabla de registro -->

        <form>
       
        <table>
            <tr>
            <td><p>Nombre:</p><br>
            <input required type="text" name="firstName" size="40"></td>
            </tr>

            <tr>
            <td><p>Apellido:</p><br>
            <input required type="text" name="lastName" size="40"></td>
            </tr>

            <tr>
            <td><p>Correo electr칩nico:</p><br>
            <input required type="email" name="email" size="40"></td>
            </tr>

            <tr>
            <td><p>Verificar correo electr칩nico:</p><br>
            <input required type="email" name="email-confirm" size="40"></td>
            </tr>

            <tr>
            <td><p>Contrase침a: </p><br>
            <input required type="password" size="40"
                    id="loginPassword" name="loginPassword"
                    title="Letters and digits only (at least 6)"></td>
            </tr>

            <tr>
                <td><p>Verificar contrase침a: </p><br>
                <input required type="password" size="40"
                        id="loginPassword-confirm"></td>
                </tr>

            <tr>
            <td><input type="submit"
                    value="Enviar"></td>
           </tr>
           <tr>
            <td><input type="submit-2"
                    value="Borrar"></td>
            </tr>

        </table>
        </form>
    </main>
    <!-- Footer import -->
    <%- include('./partials/footer.ejs'); %>
    <script src="/js/menu_animation.js"></script>
</body>
</html>