<!DOCTYPE html>
<html lang="en">

<head>
    <title>My ShoppingCar</title>
    <!-- Head import -->
    <%- include('./partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/shoppingcar.css">
</head>

<body>
    <!-- Header import -->
    <%- include('./partials/header.ejs'); %>
    <!-- Shopping car EMPIEZA-->
    <main>
        <div class="container">
            <h3>Mi carrito</h3>
            <div class="cart">
                <div class="products">
                    <div class="product">
                        <img src="/img/home_images/recommendations_img_monoStar.jpg" alt="monopoli_start_wars">
                        <div class="product-info">
                            <h4 class="product-name">New Game</h3>
                                <h4 class="product-price">$ 1,000</h4>
                                <p class="product-quantity">Qnt: <input value="1" name="">
                                <p class="product-remove">
                                   <span class="icon icon-bin2"></span>
                                </p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="/img/home_images/recommendations_img_monoStar.jpg" alt="monopoli_start_wars">
                        <div class="product-info">
                            <h4 class="product-name">New Game</h3>
                                <h4 class="product-price">$ 1,000</h4>
                                <p class="product-quantity">Qnt: <input value="1" name="">
                                <p class="product-remove">
                                    <span class="icon icon-bin2"></span>
                                </p>
                        </div>
                    </div>
                </div>

                <div class="cart-total">
                    <h3>Resumen del pedido</h3>
                    <p>
                        <span>Subtotal</span>
                        <span>$ 1,000</span>
                    </p>
                    <a href="#">Checkout</a>
                </div>
            </div>
        </div>
        <!-- TERMINA -->
    </main>
    <!-- Footer import -->
    <%- include('./partials/footer.ejs'); %>
    <!-- Colocacion de Scripts -->
    <script src="/js/menu_animation.js"></script>
</body>

</html>