<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/Logo.jpeg" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/icons/style.css">
    <link rel="stylesheet" href="/css/style_home.css">
    <title>My ShoppingCar</title>
</head>
<body>
    <header>
        <!-- Form to search for an product -->
        <div class="header-top">
            <form action="/">
                <!-- <button><span class="icon icon-search"></span></button> -->
                <input type="text" name="search" id="search" placeholder="&#xe986; Search..." class="icon-search">
            </form>

            <span class="icon icon-menu" id="menu_button"></span>
            <div class="logo">
                <img src="/img/logo.png" alt="logo_playland">
            </div>
            <span class="icon icon-add_shopping_cart"></span>

            <div class="session">
                <span class="icon icon-user"></span>
                <a href="#">LOG IN</a>
                <span class="icon icon-add_shopping_cart carr"></span>
            </div>


        </div>

        <!-- Menu -->
        <nav id="menu">
            <ul>
                <li class="actual_page"><a href="#">Home</a></li>
                <li><a href="#">Label II</a></li>
            </ul>
        </nav>
    </header>
        <!-- Shopping car -->
    <main>
        <section class="mycar">
            <h3>Mi carrito</h3>
            <article>
                <div>
                    <img src="/img/home_images/recommendations_img_monoStar.jpg" alt="monopoli_start_wars">
                </div>
                <div class="description">
                    <p> (Descripción del producto) </p>
                    <span class="price"> (Precio)</span>
                    <div>
                        <input type="button" id="botonAgregar" value="+"/>
                        <input type="number">
                        <input type="button" id="botonQuitar" value="-"/>
                    </div>
                    <div>
                        <button><span class="icon icon-trash"></span></button>
                    </div>
                </div>
                <div class="Total">
                    <span> Total </span>
                    <input type="number">
                </div>           
            </article>
            <article>
                <div>
                    <img src="/img/home_images/recommendations_img_monoStar.jpg" alt="monopoli_start_wars">
                </div>
                <div class="description">
                    <p> (Descripción del producto) </p>
                    <span class="price"> (Precio)</span>
                    <div>
                        <input type="button" id="botonAgregar" value="+"/>
                        <input type="number">
                        <input type="button" id="botonQuitar" value="-"/>
                    </div>
                    <div>
                        <button><span class="icon icon-trash"></span></button>
                    </div>
                </div>
                <div class="Total">
                    <span> Total </span>
                </div>
                <div>
                    <button class="submit-order" type="submit">Enviar Orden</button>
                </div>            
            </article>
        </section>       
    </main>

    <footer>

        <img src="/img/logo_white.png" alt="icon">


        <div class="footer-icons">
            <span class="icon icon-facebook"></span>
            <span class="icon icon-instagram"></span>
            <span class="icon icon-twitter"></span>
        </div>

        <span class="copy">©2021 by Group 7.</span>
    </footer>
    
</body>
</html>