@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
:root {
  --positionNow: 0%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.edit {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.edit h3 {
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-top: 20px;
  }

.edit p {
  font-size: 16px;
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.edit [type="text"] {
  border: none;
  border-bottom: 1px solid #fa0000;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
  width: 20%;
}

.edit input{
  width: 50%;
  margin-bottom: 50px;
}

.edit input[type="number"]{
  border: none;
  border-bottom: 1px solid #fa0000;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
  width: 20%;
}


.edit input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #fa0000;
  font-size: 18px;
  transition: 0.5s;
  color: #fff;
  text-align: center;
}


.edit input[type="submit"]:hover {
  cursor: pointer;
  background: #a00000;
}