:root {
  --positionNow: 0%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

header .header-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
  padding-bottom: 40px;
  background-color: #000000;
}

header .header-top form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  margin-bottom: 30px;
}

header .header-top form input[type="text"] {
  width: 80%;
  display: block;
  margin: auto;
  border: 0;
  padding: 18px;
  border-radius: 20px;
}

header .header-top form input[type="text"]::-webkit-input-placeholder {
  color: #d90000;
  font-size: 1.1rem;
}

header .header-top form input[type="text"]:-ms-input-placeholder {
  color: #d90000;
  font-size: 1.1rem;
}

header .header-top form input[type="text"]::-ms-input-placeholder {
  color: #d90000;
  font-size: 1.1rem;
}

header .header-top form input[type="text"]::placeholder {
  color: #d90000;
  font-size: 1.1rem;
}

header .header-top span {
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

header .header-top .logo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin: 0 20px;
}

header .header-top .logo img {
  width: 100%;
}

header .header-top .session {
  display: none;
}

header nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  top: 183px;
  z-index: 100;
}

header nav ul li {
  padding: 20px;
  list-style: none;
  -webkit-transition: all .1s;
  transition: all .1s;
}

header nav ul li a {
  padding-left: 20px;
  text-decoration: none;
  color: #fff;
}

header nav ul li:hover {
  background: rgba(0, 0, 0, 0.9);
}

header nav ul .actual_page a {
  color: #d90000;
}

header .menu_animate {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 361px) {
  header .header-top {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 0;
  }
  header .header-top span {
    display: none;
  }
  header .header-top form {
    width: 16%;
  }
  header .header-top form input[type="text"] {
    width: 80%;
    padding: 10px 12px;
    border-radius: 20px;
  }
  header .header-top form input[type="text"]::-webkit-input-placeholder {
    font-size: 1rem;
  }
  header .header-top form input[type="text"]:-ms-input-placeholder {
    font-size: 1rem;
  }
  header .header-top form input[type="text"]::-ms-input-placeholder {
    font-size: 1rem;
  }
  header .header-top form input[type="text"]::placeholder {
    font-size: 1rem;
  }
  header .header-top .logo {
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-top .logo img {
    width: 80%;
  }
  header .header-top .session {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-top .session .icon-user {
    padding: 2px;
    border-radius: 20px;
    margin-right: 5px;
    background-color: #d1d1d1;
    color: #000000;
    display: block;
    font-size: 1.2rem;
  }
  header .header-top .session a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
  }
  header .header-top .session .carr {
    margin-left: 20px;
  }
  header .header-top .carr {
    display: block;
  }
  header nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background: #000000;
    padding-bottom: 25px;
    font-size: 1.1rem;
    position: relative;
    top: 0;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 10%;
  }
}

@media (min-width: 769px) {
  header .header-top .logo img {
    width: 40%;
  }
}

.carousel {
  width: 100%;
  height: 320px;
  position: relative;
}

.carousel .carousel-content-images {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateX(var(--positionNow));
          transform: translateX(var(--positionNow));
}

.carousel .carousel-content-images .carousel-content-images-item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.carousel .carousel-content {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.carousel .carousel-content .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}

.carousel .carousel-content .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.carousel .carousel-content .buttons .images-i span {
  font-size: 1em;
  color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.carousel .carousel-content .buttons .images-i #images-i-element-1 {
  color: #ffd100;
}

@media (min-width: 769px) {
  .carousel {
    height: 550px;
  }
  .carousel .carousel-content .title {
    font-size: 3em;
  }
  .carousel .carousel-content .images-i {
    font-size: 1.5em;
  }
}

main {
  width: 100%;
}

main .new-products {
  width: 85%;
  margin: auto;
  margin-top: 60px;
}

main .new-products h3 {
  font-size: 2em;
  text-align: center;
  color: #d90000;
}

main .new-products .new-products-item {
  margin-top: 50px;
}

main .new-products .new-products-item img {
  width: 100%;
  display: block;
}

main .new-products .new-products-item .new-products-content {
  color: black;
  font-size: 20px;
  margin-top: 20px;
}

main .new-products .new-products-item .new-products-content .new-products-content-price {
  color: #d90000;
  font-weight: bold;
  margin-top: 5px;
}

main .new-products .new-products-item .new-products-content .new-products-content-button {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: #d90000;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}

main .new-products .new-products-button-more {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  font-size: 15px;
  border-radius: 30px;
  text-align: center;
  color: #d90000;
  cursor: pointer;
  border: 5px solid #d90000;
}

main .about {
  margin-top: 60px;
  width: 100%;
  background: #d90000;
}

main .about img {
  width: 100%;
}

main .about .about-content {
  margin-top: 40px;
}

main .about .about-content h3 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
}

main .about .about-content p {
  font-size: 14px;
  text-align: center;
  padding: 10px 50px;
  line-height: 2em;
  color: #fff;
}

main .po {
  display: none;
}

footer {
  display: none;
}
/*# sourceMappingURL=style_home.css.map */