<footer>
    <img src="/img/logo_white.png" alt="icon">
    <div class="footer-icons">
        <span class="icon icon-facebook"></span>
        <span class="icon icon-instagram"></span>
        <span class="icon icon-twitter"></span>
    </div>

    <span class="copy">©2021 by Group 7.</span>
</footer>