<header ondragstart="return false" onselectstart="return false" oncontextmenu="return false">
    <!-- Form to search for an product -->
    <div class="header-top">
        <form action="/searchproduct">
            <!-- <button><span class="icon icon-search"></span></button> -->
            <input type="text" name="search" id="search" placeholder="&#xe986; Search..." class="icon-search">
        </form>

        <span class="icon icon-menu" id="menu_button"></span>
        <a href="/" class="logo">
            <img src="/img/logo.png" alt="logo_playland">
        </a>
        <span class="icon icon-add_shopping_cart"></span>

        <div class="session">
        <a href="/profile" class="icon icon-user"></a>
            <a href="/login">LOG IN</a>
            <span class="icon icon-add_shopping_cart carr"></span>
        </div>


    </div>

    <!-- Menu -->
    <nav id="menu">
        <!-- Este icono de x y la sección "session" solo es para el diseño movil -->
        <div class="icon-close-menu"><span class="icon icon-x" id="icon-x"></span></div>
        <div class="session">
            <span class="icon icon-user"></span>
            <a href="#">LOG IN</a>
        </div>
        <ul>
            <li class="actual_page"><a href="#">Home</a></li>
            <li><a href="#">Label II</a></li>
        </ul>
    </nav>
</header>