<header>
    <!-- Form to search for an product -->
    <div class="header-top">
        <form action="/">
            <!-- <button><span class="icon icon-search"></span></button> -->
            <input type="text" name="search" id="search" placeholder="&#xe986; Search..." class="icon-search">
        </form>

        <span class="icon icon-menu" id="menu_button"></span>
        <div class="logo">
            <img src="/img/logo.png" alt="logo_playland">
        </div>
        <span class="icon icon-add_shopping_cart"></span>

        <div class="session">
            <span class="icon icon-user"></span>
            <a href="#">LOG IN</a>
            <span class="icon icon-add_shopping_cart carr"></span>
        </div>


    </div>

    <!-- Menu -->
    <nav id="menu">
        <ul>
            <li class="actual_page"><a href="#">Home</a></li>
            <li><a href="#">Label II</a></li>
        </ul>
    </nav>
</header>